.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 14px;
}

/* 썸네일 카드 */
.post-card {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;

  border-radius: 12px;
  overflow: hidden;

  aspect-ratio: 1 / 1;
}

/* 썸네일 이미지 */
.post-thumb {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}